
  
  .imagen-salida {
    width: 1100px;
    height: 600px;
    transition: transform 0.3s ease-out, opacity 0.3s ease;
    transform-origin: center; /* Establece el origen de la transformación al centro */

  }
  
